.input2 {
	display: inline;
	padding: 10px;
	width: 80px;
	height: 40px;
	background: none;
	border: 4px solid #6faaff;
	border-radius: 50px;
	box-sizing: border-box;
	font-family: Nunito;
	font-size: 15px;
	color: white;
	outline: none;
	transition: 0.5s;
}
.box:hover input {
	width: 200px;
	background: #272133;
	border-radius: 10px;
	padding: 5px;
}
i {
	font-size: 26px;
	color: white;
	transition: 0.2s;
	right: 0;
}
.box:hover i {
	opacity: 0;
	z-index: -1;
}
.box {
	/* border: solid 2px red; */
	text-align: left;
	margin-bottom: -55px;
	width: 500px;
	padding-left: 8vw;
}
